In [1]:
import re
from pathlib import Path
import pandas as pd

# Price History

In [9]:
filename = Path('.') / 'price_history.txt'
with open(filename) as f:
    price_history = f.read()

In [10]:
lines = line = price_history.splitlines()
pat = r'(\d{1,2}/\d{1,2}/\d{4})\t(.+)'
i, n = 0, len(price_history.splitlines())

records = []

while i < n:
    line = lines[i]
    m = re.match(pat, line)
    if m:
        dt, change_type = m.groups()
        i += 1
        price = lines[i]
        records.append([dt, change_type, price])
    i += 1

In [11]:
print(pd.DataFrame(records, columns=['date', 'change_type', 'price']).to_csv(index=False))

date,change_type,price
5/11/2024,Price change,"$499,000"
4/19/2024,Listed for sale,"$525,000"
10/1/2014,Listing removed,"$225,000"
5/22/2014,Listed for sale,"$225,000"
5/11/2008,Listing removed,"$175,000"

# Tax History

In [25]:
df

    year property_taxes tax_assessment
0   2023   $7,581 -3.7%       $419,024
1   2022        $7,875        $461,178
2   2021            --        $235,592
3   2020   $4,424 +3.8%       $198,700
4   2019    $4,262 +19%       $199,747
5   2018        $3,580        $187,936
6   2017  $3,580 +30.2%       $161,707
7   2016        $2,750        $140,141
8   2015        $2,750        $117,943
9   2014        $2,750        $123,976
10  2013            --         $98,241
11  2012            --         $86,181
12  2011            --        $102,436
13  2010            --        $102,436
14  2009            --        $102,436
15  2008            --        $107,680
16  2007            --         $92,506
17  2006            --         $84,096
18  2005            --         $76,451

# Tax History

In [29]:
filename = Path('.') / 'tax_history.txt'
df = (pd.read_csv(filename, sep='\t')
      .rename(columns=lambda x: x.lower().replace(' ', '_'))
      .assign(
          tax_assessment=lambda x: x.tax_assessment.str.split(' ', expand=True)[0],
          property_taxes=lambda x: x.property_taxes.str.split(' ', expand=True)[0],
      )
)
print(df.to_csv(index=False, header=False))

2023,"$7,128","$394,000"
2022,"$8,764","$443,786"
2021,--,"$319,900"
2020,"$6,426","$288,583"
2019,"$6,190","$288,583"
2018,"$4,849","$256,000"
2017,"$4,849","$219,000"
2016,"$3,217","$207,212"
2015,"$3,217","$172,219"
2014,"$3,217","$135,166"
2013,--,"$110,276"
2012,--,"$103,871"
2011,--,"$103,871"
2010,--,"$141,503"
2009,--,"$141,503"
2008,--,"$141,503"
2007,--,"$131,894"
2006,--,"$139,101"
2005,--,"$123,436"